$color-grey-4d: #4d4d4d;
$color-red-ba: #740f0c;
$color-grey-d8: #d8d8d8;
$color-grey-e6: #e6e6e6;

$font-encode: 'Encode Sans';
$font-encode-cond: 'Encode Sans Condenced';
$font-opensans: 'Open Sans';